{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign section_file = site.data[section_id] %}
<div class="website-table desktop-table {{ section_id }}-table" id="{{ section_id }}-desktoptable" style="display:none">
  <h3>{{ section_title }}</h3>
  <table class="ui celled table content-wrapper">
    <thead>
    <tr>
      <th class="single line four wide">Imię i nazwisko</th>
      <th class="two wide">Poparcie</th>
      <th class="two wide">Deklaracja</th>
      <!-- <th class="two wide">SMS</th>
      <th class="two wide">Połączenie telefoniczne</th>
      <th class="two wide">Email</th>
      <th class="two wide">Token sprzętowy</th>
      <th class="two wide">Token programowy</th> -->
    </tr>
    </thead>
    <tbody class="jets-content">
    {% for website in section_file.websites %}
    {% assign workonit_tweet = page.workonit_tweet %}
    {% assign workonit_email_subject = page.workonit_email_subject %}
    {% assign workonit_email_body = page.workonit_email_body %}
    <tr class="desktop-tr">
      {% if website.done %}
        <td class="main positive">
          <div class="title">
            {% if website.img %}
              <noscript><img src="{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
              <img src="/img/placeholder.png" data-src="{{ website.img }}" class="icon"
                   alt="{{ website.name }}">
            {% endif %}
            {{ website.name }}
            {% include exception.html website=website %}
          </div>
        </td>
        <td class="positive icon">
          <i class="checkmark large icon" title="Poparcie"></i>
        </td>
        <td class="positive icon">
          {% if website.doc %}
          <a href="{{ website.doc }}"><i class="external url link large icon"></i></a>
          {% endif %}
        </td>

        <!-- <td class="positive icon">
          {% if website.sms %}
          <i class="checkmark large icon" title="SMS"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.phone %}
          <i class="checkmark large icon" title="Phone"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.email %}
          <i class="checkmark large icon" title="Email"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.hardware %}
          <i class="checkmark large icon" title="Hardware Token"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.software %}
          <i class="checkmark large icon" title="Software Token"></i>
          {% endif %}
        </td> -->
      {% else %}
        <td class="main negative">
          <div class="title">
            {% if website.img %}
            <noscript><img src="{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
            <img src="/img/placeholder.png" data-src="{{ website.img }}" class="icon"
                 alt="{{ website.name }}">
            {% endif %}
            {{ website.name }}
            {% include exception.html website=website %}
          </div>
        </td>
        <td class="negative icon">
          <i class="question large icon" title="Poparcie"></i>
        </td>
        <td class="twitter negative">
        {% if website.twitter_links %} 
          {% for twitter in website.twitter_links %}
            <a class="ui twitter mini button" href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{workonit_tweet|replace:'TWITTERHANDLE',twitter|cgi_escape}}&amp;hashtags={{page.hash|cgi_escape}}" target="_blank"><i class="twitter icon"></i> {{page.link}} na Twitterze</a>
          {% endfor %}
        {% endif %}

        {% if website.phone_numbers %} 
          {% for phone in website.phone_numbers %}
            <a class="ui blue mini button" href="tel:{{phone|cgi_escape}}" target="_blank"><i class="phone icon"></i> {{page.link}} przez telefon</a>
          {% endfor %}
        {% endif %}
        
        {% if website.facebook %} 
        {% for facebook in website.facebook %}
          <a class="ui facebook mini button" href="{{facebook}}" target="_blank"><i class="facebook icon"></i> {{page.link}} na Facebooku</a>
        {% endfor %}
        {% endif %}
      
        
        {% if website.emails %} 
          {% for email in website.emails %}
          <a class="ui green mini button email-link" data-email="{{email}}" href="#"><i class="mail icon"></i>{{page.link}} przez e-mail</a>
          {% endfor %}
        {% endif %}

        {% if website.instagram_links %} 
        {% for instagram in website.instagram_links %}
        <a class="ui orange mini button" href="{{instagram}}" target="_blank"><i class="instagram icon"></i> {{page.link}} na Instagramie</a>
        {% endfor %}
        {% endif %}

        </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
